<div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="text-xl"><img src="./assets/dolera-simple-logo-coral.png" alt="Logo Dolera" class="w-36 mt-5 ml-10"></a>
    </div>
    <div class="flex-none">
        <div class="drawer drawer-end">
            <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content">
              <!-- Page content here -->
              <label for="my-drawer-4"><img src="./assets/menu-icon.png" alt="" class="w-10 mt-2 mr-10"></label>
            </div>
            <div class="drawer-side">
              <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
              <ul class="menu bg-almost-white text-base-content min-h-full w-96 pt-20 pl-0">
                <!-- Sidebar content here -->
                <li class="hover:shadow-xl hover:translate-y-1 transition-all duration-300 ease-in-out mb-6">
                    <a class="font-outfit-bold w-full pl-10 text-2xl hover:bg-transparent text-dark-green"><img src="./assets/airplane-logo.png" class="mr-10">My trips</a>
                </li>
                <li class="hover:shadow-xl hover:translate-y-1 transition-all duration-300 ease-in-out mb-6">
                    <a class="font-outfit-bold w-full pl-10 text-2xl hover:bg-transparent text-dark-green"><img src="./assets/new-trip-logo.png" class="mr-10">Create new trip</a>
                </li>
                <li class="hover:shadow-xl hover:translate-y-1 transition-all duration-300 ease-in-out mb-6">
                    <a class="font-outfit-bold w-full pl-10 text-2xl hover:bg-transparent text-dark-green"><img src="./assets/profile-icon.png" class="mr-10">My profile</a>
                </li>
                <li class="hover:shadow-xl hover:translate-y-1 transition-all duration-300 ease-in-out mb-6">
                    <a class="font-outfit-bold w-full pl-10 text-2xl hover:bg-transparent text-dark-green"><img src="./assets/stats-icon.png" class="mr-10">Stats</a>
                </li>
                <li class="hover:shadow-xl hover:translate-y-1 transition-all duration-300 ease-in-out mb-6">
                    <a class="font-outfit-bold w-full pl-10 text-2xl hover:bg-transparent text-dark-green"><img src="./assets/passport-icon.png" class="mr-10">Passport</a>
                </li>
              </ul>
            </div>
          </div>
    </div>
  </div>