/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "outfit-extra-light";
  src: url("./fonts/Outfit/Outfit-Light.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "outfit-semi-bold";
  src: url("./fonts/Outfit/Outfit-SemiBold.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}
